// accent colours
$primary-dark: #0e1a88;
$primary-mid: #1120a5;
$primary-light: #2633ac;

// background
$gray-dark: #1c2029;
$gray-mid: #ffffff;
$gray-light: #55585f;

// accent colours
$secondary-dark: #1120a5;
$secondary-mid: #1120a5;
$secondary-light: #1120a5;

// fonts
$white-dark: #181529;
$white-mid: #272343;
$white-light: #393361;
